<div class="jumbotron" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-md-4">
      <h3>Phòng khám y khoa SonHoang</h3>
      <p>Hoàng Thanh Sơn &copy; 2021</p>
    </div>

    <div class="col-md-3">
      <h5>Số đăng ký kinh doanh: <span>1951052171</span></h5>
      <p>Được cấp tại thành phố Hồ Chí Minh ngày 04/01/2022</p>
    </div>

    <div class="col-md-5" style="padding: 0px">
      <div class="row">
        <div class="col-md-5" style="padding: 0px">
          <img src="https://res.cloudinary.com/dt8p4xhzz/image/upload/v1641372077/logo_tufwyq.png" style="width: 200px; height: 180px">
        </div>
        <div class="col-md-7" style="padding: 0px">
          <div>
            <h3>Liên hệ</h3>
          </div>
          <div>
            <p><i class="fas fa-phone-alt"></i>Số điện thoại: <span>1951052171</span></p>
          </div>
          <div>
            <p><i class="fas fa-map-marker-alt"></i>Địa chỉ công ty: số 458, Quận 2, TP. Hồ Chí Minh</p>
          </div>
          <div >
            <p><i class="fas fa-envelope"></i>Email: <span>1951052171son@ou.edu.vn</span></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>