{% extends 'employee/prescription.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <h1 class="text-center text-danger">PHIẾU KHÁM</h1>
    {% if 'form' in session and session['form'] %}
    {% if err_msg %}
    <div class="alert text-center alert-danger container">
        {{ err_msg }}
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
        <form method="post" action="{{ url_for('create_form_done') }}" id="1" enctype="multipart/form-data">
        <div class="row">
             <div class="form-group col-md-2">
                <label for="guest_id">Mã bệnh nhân<sup>*</sup></label>
                <input type="text" id="guest_id" name="guest_id" class="form-control" placeholder="Nhập mã bệnh nhân"/>
            </div>
            <div class="form-group col-md-5">
                <label for="symptom"><b>Triệu chứng<sup>*</sup></b></label>
                <input class="form-control" id="symptom" name="symptom" type="text" placeholder="Triệu chứng" />
            </div>
            <div class="form-group col-md-5">
                <label for="diagnose_disease"><b>Chuẩn đoán<sup>*</sup></b></label>
                <input class="form-control" id="diagnose_disease" name="diagnose_disease" type="text" placeholder="Chuẩn đoán" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"><label for="medicine_id">Mã thuốc</label></div>
            <div class="col-md-3"><label for="name">Tên thuốc</label></div>
            <div class="col-md-3"><label for="quantity">Số lượng</label></div>
            <div class="col-md-4"><label for="how_to_use">Cách dùng<sup>*</sup></label></div>
        </div>
        {% for c in session['form'].values() %}
        <div class="row" id="medicine{{ c.id }}">
            <div class="form-group col-md-1">
                <input type="number" id="medicine_id" name="medicine_id" value="{{ c.id }}" class="form-control" readonly/>
            </div>
            <div class="form-group col-md-3">
                <input type="text" id="name" name="name" value="{{ c.name }}" class="form-control" readonly/>
            </div>
            <div class="form-group col-md-3">
                <input type="number" id="quantity" name="quantity" value="{{ c.quantity }}" class="form-control" readonly/>
            </div>
            <div class="form-group col-md-4">
                <input type="text" id="how_to_use" name="how_to_use" class="form-control" placeholder="Cách dùng"/>
            </div>
            <div class="form-group col-md-1">
                <input type="button" id="delete" name="delete" class="btn btn-danger" value="Xóa" onclick="delete_form({{ c.id }})"/>
            </div>
        </div>
        {% endfor %}
        <div class="alert alert-info">
            <h5>Tổng số thuốc: {{ prescription_stats.total_quantity }}</h5>
        </div>
        <input id="submit" type="submit" class="btn btn-danger" value="Xác nhận">
        <br><br>
        {% else %}
        <p><i>Khong co toa thuoc!!!</i></p>
        {% endif %}
    </form>
    {% endif %}
</div>
{% else %}
<div class="text-center">
    <h2 style="text-align: center; color: red">Bạn chưa đăng nhập tài khoản nhấn vào link bên dưới để đăng nhập</h2>
    <div align="center">
        <a href="{{ url_for('employee_login') }}">Nhấn vào đây để đăng nhập tài khoản</a>
    </div>
</div>
{% endif %}
{% endblock %}
