{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1100px">
    <div class="parallax-building-img"></div>
    <br>
    <h1 class="text-center text-danger">CƠ SỞ VẬT CHẤT</h1>
    <p style="line-height: 35px">
        Phòng khám được trang bị cơ sở vật chất hiện đại được đầu tư, bảo trì thường xuyên để máy móc có thể hoạt động một
        cách an toàn và trơn tru nhất.
        Hệ thống Nhà thuốc Bệnh viện được bố trí hợp lý trong khuôn viên bệnh viện để khách hàng có thể dễ dàng tiếp cận,
        mua thuốc và các sản phẩm chăm sóc sức khỏe khác.
        Thông tin kê đơn và lịch sử dùng thuốc của khách hàng được lưu trữ tại cơ sơ dữ liệu của phòng khám.
        Khi bàn giao thuốc cho khách hàng, các dược sỹ sẽ hướng dẫn cụ thể về công dụng,
        cách dùng và các chú ý đặc biệt trong quá trình dùng thuốc để người bệnh hiểu và thực hành đúng việc dùng thuốc,
        đảm bảo an toàn cho khách hàng.
    </p>
    <br><br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}