{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1100px">
    <div class="parallax-eye-img"></div>
    <br>
    <h1 class="text-center text-danger">KHOA MẮT</h1>
    <br>
    <p>
        Nhằm đảm bảo quyền được bảo vệ sức khỏe và  nguồn nhân lực phát triển của xã hội,
        việc chăm sóc và nâng cao sức khỏe nhân dân là một trong những chính sách ưu tiên hàng đầu của Đảng và Nhà Nước ta.
        Trong suốt thời kỳ xây dựng và bảo vệ đất nước, hệ thống y tế Việt Nam nói chung và ngành Mắt nói riêng đã không ngừng được quan tâm,
        đầu tư và phát triển một cách vượt bậc.
        Trải qua quá trình hình thành, phát triển và đầu tư trang thiết bị hiện đại, đội ngũ Y,
        Bác sĩ đã không ngừng nâng cao về số lượng,
        tăng cường chuyên môn thông qua các khóa đào tạo các chuyên khoa sâu, tập huấn,
        hội thảo trao đổi kinh nghiệm với các đồng nghiệp trong và ngoài nước, thường xuyên cập nhật,
        thực hiện hầu hết những kỹ thuật nhãn khoa tiên tiến, hiện đại mà ngành Mắt thế giới đã và đang triển khai như:
        phẫu thuật Phaco điều trị đục thể thủy tinh, laser điều trị cận, viễn, lọan thị, đặt van điều trị glaucoma,
        điều trị đục thủy tinh thể bẩm sinh, phẫu thuật cắt dịch kính và laser nội nhãn, ghép giác mạc phiến, ghép tế bào gốc,
        phẫu thuât khối u và thần kinh mắt, tầm soát và điều trị võng mạc trẻ sinh non, ….
    </p>
    <br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}