{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1000px">
    <div class="parallax-intro-img"></div>
    <br>
    <h1 class="text-center text-danger">GIỚI THIỆU</h1>
    <p>
        Hệ thống Y tế được đầu tư phát triển với sứ mệnh chăm sóc bằng cả tấm lòng.
        Với cơ sở vật chất hiện đại; đội ngũ chuyên gia, bác sỹ đầu ngành;
        liên tục ứng dụng các phương pháp điều trị mới nhất thế giới cùng chất lượng dịch vụ hoàn hảo,
        đến nay bệnh viện đã trở thành địa chỉ chăm sóc sức khỏe tiêu chuẩn quốc tế tại Việt Nam.
    </p>
    <br><br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}