{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1500px">
    <div class="parallax-news-img"></div>
    <br>
    <h1 class="text-center text-danger">TIN TỨC</h1>
    <p>
        1. Tầm quan trọng của tiêm vắc-xin đúng lịch
    Theo khuyến cáo của các chuyên gia y tế, ngay cả trong thời điểm có dịch bệnh, phụ huynh vẫn nên đưa con đi tiêm vắc xin đúng lịch. Việc trì hoãn lịch tiêm có thể làm tăng nguy cơ mắc bệnh đã được loại trừ hoặc khiến các bệnh truyền nhiễm, bội nhiễm như cúm, sởi, thủy đậu, viêm họng, viêm phổi...trở nên nặng hơn và khó điều trị hơn.

    Trong tình hình dịch bệnh hiện nay, việc tiêm vaccine đúng thời điểm và đúng lịch là rất quan trọng và cần thiết để kịp thời phòng được bệnh đã tiêm và để không nhầm lẫn với bệnh khác, không gây lo lắng cho gia đình và cộng đồng. Nếu trong thời điểm này trẻ bị ho hay sốt các phụ huynh sẽ rất hoảng sợ không biết triệu chứng này do Covid-19 hay do bệnh khác vì một số triệu chứng của nhiễm Covid-19 giống như cúm hoặc các bệnh về đường hô hấp khác

    Trong vòng 5 năm đầu đời trẻ mới xây dựng được hệ miễn dịch hoàn thiện vì vậy tiêm chủng đầy đủ là một cách tăng cường sức đề kháng hiệu quả với trẻ. Cha mẹ cần lưu ý khi đưa trẻ đi tiêm phòng tuân thủ đúng những khuyến cáo của Tổ chức Y tế thế giới WHO và Bộ y tế như đeo khẩu trang đúng cách, rửa tay thường xuyên bằng dung dịch sát khuẩn. Ngoài ra các phụ huynh luôn cập nhật thông tin đúng đủ về chủng Covid -19 này để bảo vệ bản thân và gia đình khỏi Virus Corona.

    Những khu vực không có dịch các mẹ vẫn có thể cho bé đi tiêm phòng theo lịch tiêm chủng phù hợp với lứa tuổi, nhưng tránh những nơi tụ tập đông người, nên đặt lịch hẹn trước tránh không phải chờ đợi và đến cơ sở y tế tin tưởng cơ sở vật chất đảm bảo.
    </p>
    <p>
        2. Những vắc xin không thể trì hoãn tiêm phòng
    Trong đó có 4 loại vắc xin mẹ bắt buộc phải tiêm để đảm bảo sức khỏe cho con:

    Vắc-xin viêm gan B: Sau khi trẻ sơ sinh ra đời, liều vắc-xin viêm gan B đầu tiên được tiêm cho trẻ sơ sinh.
    Tiêm vắc xin BCG: Khi trẻ được 28 ngày tuổi, bé sẽ được tiêm vắc xin BCG để phòng bệnh lao.
    Ngoài ra còn có hai loại vắc-xin phòng bệnh dại và tiêm phòng độc tố uốn ván cần được tiêm đúng lịch vì 2 vaccine này khi cần tiêm là không thể trì hoãn được.

    Tất nhiên, nếu trẻ có tiền sử tiếp xúc với người nghi ngờ hoặc đã nhiễm virus Covid-19, bạn cần cho trẻ cách ly trong 14 ngày. Trong vòng 14 ngày, nếu trẻ bị sốt, bạn nên ngừng tiêm phòng.
    </p>
    <p>
        3. Những loại vắc xin phụ huynh có thể trì hoãn tạm thời
    Vì hiện tại đang là thời điểm đặc biệt, để tránh nguy cơ lây nhiễm chéo, mẹ không nên cho trẻ đến những nơi đông người và có thể hoãn lịch tiêm chủng đối với một số loại vắc xin.

    Vắc-xin viêm não mô cầu AC. Bệnh viêm não do não mô cầu có thể trì hoãn tạm thời vì hiện tại không phải vụ dịch và theo quy luật 3 năm mới có dịch 1 lần. Trẻ 2 tuổi bắt đầu được tiêm và cứ 3 năm nhắc lại một lần
    Thương hàn: bệnh này lây qua đường ăn uống, nếu giữ vệ sinh ăn chín uống nước đảm bảo là có thể hạn chế được bệnh này. Vaccin này nhắc lại 3 năm 1 lần
    Viêm gan A: Bệnh lây qua đường ăn uống nên trong giai đoạn này có thể tạm hoãn
    Vắc-xin HPV: Vaccin phòng ung thư cổ tử cung tuổi tiêm lý tưởng từ 9 đến 13 tuổi, như vậy việc trì hoãn tạm thời trong thời điểm này không ảnh hưởng đến trẻ
    Nếu phụ huynh không chắc chắn về loại vắc-xin có thể được hoãn lại, hãy tham khảo ý kiến của sở y tế hoặc các trung tâm phòng chống dịch bệnh tại địa phương.
    </p>
    <p>
        4. Những lưu ý khi đưa bé tiêm phòng trong đợt dịch Covid-19
    Trước khi tiêm chủng, hãy đo nhiệt độ của em bé và đánh giá sức khỏe của các thành viên đưa trẻ đi tiêm phòng.
    Khi đưa con đi tiêm phòng, bạn cố gắng tránh đi các phương tiện giao thông công cộng và đi ô tô riêng. Hãy đeo khẩu trang trong suốt thời gian tiêm phòng.
    Sau khi tiêm phòng, hãy cho bé trong khu vực sạch sẽ của cơ sở tiêm chủng trong 30 phút.
    Không tắm cho trẻ trong vòng 24 tiếng sau khi tiêm và chú ý đến vết tiêm của trẻ, nếu vết tiêm sưng to, bạn cần đưa trẻ đến thăm khám ở các cơ sở ý tế.
    Sau khi tiêm vắc xin, trẻ có thể bị sốt, bạn có thể dùng thuốc hạ sốt cho trẻ. Nếu trẻ không hạ sốt, bạn cần đưa bé đến bệnh viện kịp thời.
    </p>
    <br><br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>

{% endblock %}