{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1100px">
    <div class="parallax-open-img"></div>
    <br>
    <h1 class="text-center text-danger">GIỜ LÀM VIỆC TẠI PHÒNG KHÁM</h1>
    <br>
    <h3>
        <span class="text-danger">Từ thứ 2 đến thứ 7:</span> 06:30 - 19:00
    </h3>
    <h3>
        <span class="text-danger">Chủ nhật:</span> 07:00 - 11:30
    </h3>
    <h4 style="color: red">Quý khách vui lòng đặt thời gian hẹn khám đúng quy định.</h4>
    <p>
        Để quá trình thăm khám tại Phòng khám được diễn ra thuận tiện và nhanh chóng,
        quý khách hàng cũng có thể gọi điện thoại tới số hotline 1951052171 để đặt lịch hẹn hoặc đặt lịch hẹn trên website để thăm khám vào khoảng thời gian mong muốn.
    </p>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}