{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1000px">
    <div class="parallax-otolaryngology-img"></div>
    <br>
    <h1 class="text-center text-danger">KHOA TAI MŨI HỌNG</h1>
    <br>
	<p>
		Chức năng: Khoa Tai mũi họng là khoa lâm sàng chịu sự lãnh đạo trực tiếp của Giám đốc bệnh viện và
		chịu trách nhiệm trước Giám đốc về tổ chức thực hiện mọi hoạt động tại khoa.
		Căn cứ nhiệm vụ chung của Bệnh viện lập kế hoạch thực hiện nhiệm vụ được giao tại khoa.
	</p>
	<p>
		Nhiệm vụ: Khám và điều trị các bệnh về chuyên khoa Tai mũi họng.
	</p>
	<br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}