{% extends 'layout/base.html' %}
{% block content %}
<div class="container" style="height: 1000px">
    <div class="parallax-teeth-img"></div>
    <br>
    <h1 class="text-center text-danger">NHA KHOA</h1>
    <br>
    <p>
		Tập hợp những bác sĩ được đào tạo Chuyên khoa Răng Hàm Mặt. Bác sĩ được đào tạo chuyên sâu về răng sứ, chỉnh nha.
		Trang thiết bị và vật liệu luôn được cập nhật và đổi mới kết hợp với hệ thống vô trùng chặt chẽ.
		Phương châm "bệnh nhân là thân nhân" là tiêu chí hoạt động hàng đầu của Nha khoa SP Song Phát.
		Mỗi khách hàng đến với Trung tâm sẽ được tư vấn, chụp phim, lên kế hoạch và thảo luận để dự trù một chi phí điều trị hợp lý hoàn toàn miễn phí.
	</p>
    <br>
    <div style="padding: 10px; box-shadow: 0px 0px 10px">
        <p>PHÒNG KHÁM Y KHOA SONHOANG</p>
        <p>» Địa chỉ: số 458, Quận 2, Thành phố Hồ Chí Minh.</p>
        <p>» Email: 1951052171son@ou.edu.vn</p>
        <p>» Hotline: 1951052171</p>
        <p>» Đặt khám: 192168711</p>
    </div>
</div>
{% endblock %}